.App {
  text-align: center;
  min-width: 250px;
  max-width: 900px;
  padding: 5% 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .nav-link {
    text-decoration: none;
    margin-right: 2%;
    // border: 1px solid red;
    align-self: flex-start;
  }

  .friends-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .friend-card {
      border: 1px solid black;
      border-radius: 5px;
      width: 100%;
      max-width: 300px;
      margin: 5%;
      box-shadow: 10px 10px 17px -12px rgba(0, 0, 0, 0.75);

      p {
        line-height: 0.75;
      }
    }
  }

  .friend-input-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5% auto;

    input,
    button {
      padding: 1%;
      margin-top: 1%;
    }

    input {
      // border: 1px solid grey;
    }
  }
}
